html {
    height: 100%;
}

body {
    height: 100%;
}

.menu-lateral {
    background-color: #2c3034;
    height: 100%;
}

.meu-modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.349);
}

.meu-menu {
    display: none;
    position: absolute;
    background-color: aliceblue;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    text-align: center;
}

.meu-menu button {
    border: none;
    background: none;
}

.meu-menu button:hover {
    font-weight: bold;
}

.show-menu {
    display: block !important;
}

.show-modal {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    z-index: 10;
    width: 100%;
    height: 100%;
}